datasets_raw_data/children_stories_text_corpus/cleaned_merged_fairy_tales_without_eos.txt
datasets_raw_data/poe_short_stories/preprocessed_data.csv
datasets_raw_data/popular_reddit_short_stories/LICENSE
datasets_raw_data/popular_reddit_short_stories/README.md
datasets_raw_data/popular_reddit_short_stories/reddit_short_stories.txt
datasets_raw_data/scifi_stories_text_corpus/internet_archive_scifi_v3.txt
datasets_raw_data/sherlock_holmes/3gab.txt
datasets_raw_data/sherlock_holmes/3gar.txt
datasets_raw_data/sherlock_holmes/3stu.txt
datasets_raw_data/sherlock_holmes/abbe.txt
datasets_raw_data/sherlock_holmes/advs.txt
datasets_raw_data/sherlock_holmes/bery.txt
datasets_raw_data/sherlock_holmes/blac.txt
datasets_raw_data/sherlock_holmes/blan.txt
datasets_raw_data/sherlock_holmes/blue.txt
datasets_raw_data/sherlock_holmes/bosc.txt
datasets_raw_data/sherlock_holmes/bruc.txt
datasets_raw_data/sherlock_holmes/cano.txt
datasets_raw_data/sherlock_holmes/card.txt
datasets_raw_data/sherlock_holmes/case.txt
datasets_raw_data/sherlock_holmes/chas.txt
datasets_raw_data/sherlock_holmes/cnus.txt
datasets_raw_data/sherlock_holmes/copp.txt
datasets_raw_data/sherlock_holmes/cree.txt
datasets_raw_data/sherlock_holmes/croo.txt
datasets_raw_data/sherlock_holmes/danc.txt
datasets_raw_data/sherlock_holmes/devi.txt
datasets_raw_data/sherlock_holmes/dyin.txt
datasets_raw_data/sherlock_holmes/empt.txt
datasets_raw_data/sherlock_holmes/engr.txt
datasets_raw_data/sherlock_holmes/fina.txt
datasets_raw_data/sherlock_holmes/five.txt
datasets_raw_data/sherlock_holmes/glor.txt
datasets_raw_data/sherlock_holmes/gold.txt
datasets_raw_data/sherlock_holmes/gree.txt
datasets_raw_data/sherlock_holmes/houn.txt
datasets_raw_data/sherlock_holmes/iden.txt
datasets_raw_data/sherlock_holmes/illu.txt
datasets_raw_data/sherlock_holmes/lady.txt
datasets_raw_data/sherlock_holmes/last.txt
datasets_raw_data/sherlock_holmes/lion.txt
datasets_raw_data/sherlock_holmes/lstb.txt
datasets_raw_data/sherlock_holmes/maza.txt
datasets_raw_data/sherlock_holmes/mems.txt
datasets_raw_data/sherlock_holmes/miss.txt
datasets_raw_data/sherlock_holmes/musg.txt
datasets_raw_data/sherlock_holmes/nava.txt
datasets_raw_data/sherlock_holmes/nobl.txt
datasets_raw_data/sherlock_holmes/norw.txt
datasets_raw_data/sherlock_holmes/prio.txt
datasets_raw_data/sherlock_holmes/redc.txt
datasets_raw_data/sherlock_holmes/redh.txt
datasets_raw_data/sherlock_holmes/reig.txt
datasets_raw_data/sherlock_holmes/resi.txt
datasets_raw_data/sherlock_holmes/reti.txt
datasets_raw_data/sherlock_holmes/retn.txt
datasets_raw_data/sherlock_holmes/scan.txt
datasets_raw_data/sherlock_holmes/seco.txt
datasets_raw_data/sherlock_holmes/shos.txt
datasets_raw_data/sherlock_holmes/sign.txt
datasets_raw_data/sherlock_holmes/silv.txt
datasets_raw_data/sherlock_holmes/sixn.txt
datasets_raw_data/sherlock_holmes/soli.txt
datasets_raw_data/sherlock_holmes/spec.txt
datasets_raw_data/sherlock_holmes/stoc.txt
datasets_raw_data/sherlock_holmes/stud.txt
datasets_raw_data/sherlock_holmes/suss.txt
datasets_raw_data/sherlock_holmes/thor.txt
datasets_raw_data/sherlock_holmes/twis.txt
datasets_raw_data/sherlock_holmes/vall.txt
datasets_raw_data/sherlock_holmes/veil.txt
datasets_raw_data/sherlock_holmes/wist.txt
datasets_raw_data/sherlock_holmes/yell.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/98-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/564-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/580-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/644-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/650-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/653-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/675-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/678-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/700-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/766-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/786-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/807-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/882-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/883-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/914-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/917-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/924-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/963-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/967-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/1289-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/1400-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/1467-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/27924-0.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/metadata.tsv
datasets_raw_data/the_works_of_charles_dickens/dickens/pg676.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/pg699.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/pg730.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/pg1023.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/pg1392.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/pg1407.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/pg19337.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/pg23344.txt
datasets_raw_data/the_works_of_charles_dickens/dickens/pg32241.txt
.vscode/launch.json
.vscode/settings.json
